/*!***********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \***********************************************************************************************************/
@charset "UTF-8";
@font-face {
    font-family: "TTLakes";
    src: url(../fonts/TTLakes-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url(../fonts/TTLakes-Bold.woff) format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url(../fonts/TTLakes-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px solid #3698FB;
}

body {
    overflow-anchor: none;
    margin: 0;
    font-family: "TTLakes", sans-serif;
    color: #1B1C21;
    background-color: #F8F8F8;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
textarea {
    width: 100%;
}

textarea {
    resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #7B8A92;
}

input:focus,
textarea:focus {
    outline: none;
}

footer {
    background: #1B1C21;
}

.is--hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.btn--reset {
    padding: 0;
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    outline: none;
}

.error {
    border: 2px var(--error-red) solid !important;
}

.container {
    margin: 0;
    padding: 18.59px 16px;
}

@media (min-width: 768px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 1180px;
    }
}

.header__upper-menu {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
}

.upper-menu__left, .upper-menu__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.upper-menu__btn {
    width: 40px;
    height: 40px;
}

.upper-menu__btn-call, .upper-menu__btn-chat, .upper-menu__btn-profile {
    display: none;
}

@media (min-width: 768px) {
    .upper-menu__btn-call, .upper-menu__btn-chat, .upper-menu__btn-profile {
        display: block;
    }
}

.upper-menu__btn-burger {
    background: center/cover no-repeat url(../img/burger.svg);
}

.upper-menu__btn-call {
    background: center/cover no-repeat url(../img/call.svg);
}

.upper-menu__btn-chat {
    background: center/cover no-repeat url(../img/chat.svg);
}

.upper-menu__btn-profile {
    background: center/cover no-repeat url(../img/profile.svg);
}

.upper-menu__btn-profile {
    background: center/cover no-repeat url(../img/profile.svg);
}

.upper-menu__btn-repair {
    background: center/cover no-repeat url(../img/repair.svg);
}

.upper-menu__btn-checkstatus {
    background: center/cover no-repeat url(../img/checkstatus.svg);
}

.upper-menu__left {
    gap: 20px;
}

.upper-menu__left-splitter {
    display: none;
}

@media (min-width: 768px) {
    .upper-menu__left-splitter {
        position: relative;
        display: block;
        height: 32px;
    }

    .upper-menu__left-splitter::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
}

.upper-menu__right-splitter {
    position: relative;
    padding: 0 2px;
    height: 32px;
}

.upper-menu__right-splitter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.imgtest {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-image: url(../img/picture.jpg);
    background-repeat: no-repeat;
}

.services {
    margin: 0;
    padding-top: 24px;
    background-color: #F8F8F8;
}

.services-header {
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .services-header {
        margin-bottom: 32px;
    }
}

@media (min-width: 1120px) {
    .services-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 16px;
        padding-top: 42px;
    }
}

.services-header__title {
    position: relative;
    margin-bottom: 24px;
    font-size: 28px;
}

.services-header__title::before {
    position: absolute;
    content: '';
    top: 0;
    left: -16px;
    width: 4px;
    height: 40px;
    background: url(../img/highlight.svg);
}

@media (min-width: 768px) {
    .services-header__title::before {
        left: -24px;
    }
}

@media (min-width: 1120px) {
    .services-header__title::before {
        left: -30px;
    }
}

@media (min-width: 768px) {
    .services-header__title {
        margin-bottom: 32px;
    }
}

@media (min-width: 1120px) {
    .services-header__title {
        margin-bottom: 8px;
    }
}

.services-header__btn {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
}

.services-header__btn-container {
    display: none;
}

@media (min-width: 1120px) {
    .services-header__btn-container {
        display: flex;
    }
}

.services-header__btn-wrapper {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.services-header__list {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.services-header__list::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

@media (min-width: 1120px) {
    .services-header__list {
        flex-wrap: wrap;
    }
}

.services-header__item {
    padding: 9px 18px;
}

.services-header__item--active {
    padding: 7px 20px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services-header__link {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
}

@media (min-width: 768px) {
    .services-description {
        display: flex;
        justify-content: space-between;
    }
}

.services-description__box {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .services-description__box {
        margin-bottom: 14px;
        width: 43%;
    }
}

@media (min-width: 1120px) {
    .services-description__box {
        width: 50%;
    }
}

.services-description__text {
    margin-bottom: 16px;
    max-height: 90px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .services-description__text {
        max-height: 160px;
    }
}

@media (min-width: 1120px) {
    .services-description__text {
        max-height: 160px;
    }
}

.services-description__par {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

@media (min-width: 768px) {
    .services-description__par {
        line-height: 20px;
    }
}

.services-description__read-more {
    padding-left: 25px;
    background: left/10px no-repeat url(../img/arrow-icon.svg);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
}

.services-description__img {
    border-radius: 6px;
    transform: translateX(-16px) scaleX(1.2);
}

@media (min-width: 768px) {
    .services-description__img {
        width: 50%;
        transform: none;
    }
}

.sidebar-left {
    margin-right: auto;
    width: 320px;
}

@media (min-width: 768px) {
    .sidebar-left {
        box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    }
}

.sidebar-left__wrapper {
    padding: 19px 24px 32px;
}

.sidebar-left__main-menu {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-menu__top, .main-menu__bottom {
    display: flex;
    flex-direction: column;
}

.main-menu__top-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;
}

@media (min-width: 360px) {
    .main-menu__top-header {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .main-menu__top-header {
        margin-bottom: 47px;
    }
}

.main-menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .main-menu__list {
        gap: 16px;
    }
}

.main-menu__item {
    padding: 7px 0;
}

.main-menu__item--active {
    position: relative;
}

.main-menu__item--active::before {
    position: absolute;
    content: "";
    top: 0;
    left: -24px;
    width: 4px;
    height: 100%;
    background: url(../img/mine-menu-highlight.svg);
}

.main-menu__link {
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
}

.main-menu__item--active .main-menu__link {
    color: #7E7E82;
}

.main-menu__bottom {
    margin-top: auto;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .main-menu__bottom {
        margin-bottom: 40px;
    }
}

.main-menu__btn {
    width: 40px;
    height: 40px;
}

.main-menu__btn-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.main-menu__btn-burger-close {
    background-image: url(../img/burger-close.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-menu__btn-call {
    background-image: url(../img/call.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-menu__btn-chat {
    background: center/cover no-repeat url(../img/chat.svg);
}

.main-menu__btn-profile {
    background: center/cover no-repeat url(../img/profile.svg);
}

.main-menu__btn-profile {
    background: center/cover no-repeat url(../img/profile.svg);
}

.main-menu__btn-search {
    display: block;
    margin-left: auto;
    background: center/cover no-repeat url(../img/search.svg);
}

.main-menu__btn-call, .main-menu__btn-chat, .main-menu__btn-profile {
    display: block;
}

.main-menu__lang {
    display: flex;
    gap: 7px;
}

.main-menu__lang-btn {
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
}

.main-menu__lang-btn--active {
    color: #7E7E82;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact__mail {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: #1B1C21;
}

.contact__tel {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.brands__header {
    background-image: linear-gradient(270deg, #ffffff 0%, #f8f8f8 95%);
}

.brands__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .brands__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 24px;
        max-height: 150px;
    }
}

@media (min-width: 1120px) {
    .brands__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 32px;
        max-height: 150px;
    }
}

.brands__item {
    max-height: 72px;
}

.brands__item--hp {
    padding: 10px 16px 10px 10px;
}

.brands__item-img {
    object-fit: contain;
    max-height: 52px;
}

.brands__item-btn {
    width: 40px;
    height: 40px;
    background-image: url(../img/go.svg);
    background-position: center;
    background-repeat: no-repeat;
}


/*# sourceMappingURL=main.css.map*/