.repair {

  &__wrapper {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 16px 24px;
      max-height: 150px;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4,1fr);
      gap: 16px 32px;
      max-height: 150px;
    }
  }

  &__item {
    width: 260px;
    height: 160px;

    &-title {
      align-self: flex-start;
      max-width: 185px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -.2px;
    }

    &-btn {
      align-self: flex-end;
    }
  }
}