$background: #F8F8F8;
$footer-background: #1B1C21;
$main-text-color: #1B1C21;
$menu-text-color: #7E7E82 ;
$border-color: #B8FFEC;
$title-border-color: #41F6D7;
$blue: #3698FB;
$gray: #7B8A92;
$soft-gray: #96A5B1;
$light-gray: #EAEAEA;
$smoky-white: #EEEEEE;
$white: #FFFFFF;
$error-red: #ff0000;